.is-desktop {
  .main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20vh;
  padding-bottom: 20vh;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  @media (min-width: $screen-sm-min) {
    padding-left: 6.25%;
    padding-top: 16vh;
    padding-bottom: 16vh;
    padding-right: 0;
  }
}
