.main {
  position: absolute;
  top: 0;
  // left: 27.08333vw;
  padding-left: 6.25%;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.text {
  // font-size: 10vw;
  font-size: 6.43889vw;
  letter-spacing: -.055em;
  // letter-spacing: -.5vw;
  line-height: 1.02;
  padding-left: 6.66667%;
  padding-right: 5%;
  // padding-right: 4.44444%;
  margin-left: auto;
  max-width: 88.88889%;
  pointer-events: none;
}

.stroke {
  color: transparent;
  -webkit-text-stroke: 1px $color-black;
  font-weight: 700;
}

.padding {
  padding: 0 .6vw;
}
