.main {
  background-color: $color-white;
  padding-top: 28vh;
  padding-bottom: 28vh;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  @media (min-width: $screen-sm-min) {
    padding: 28.4vh 0 28.4vh 6.25%;
  }
}

// .is-desktop {
//   .main {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//   }
// }
