@font-face {
  font-family: 'gilroy-bold';
  src: url('../../assets/fonts/gilroy-extrabold-webfont.woff') format('woff'), url('../../assets/fonts/gilroy-extrabold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy-light';
  src: url('../../assets/fonts/gilroy-light-webfont.woff') format('woff'), url('../../assets/fonts/gilroy-light-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color: #0D51FF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
}

body {
  font-family: 'gilroy-bold', sans-serif;
  overflow: hidden;
  color: #4F535F;
}

p {
  font-family: 'gilroy-light';
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}

button:active, 
button:focus {
  outline: none;
}

/* Projects ***********************************************************************/
.project {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1;
}

.project.active {
  z-index: 100;
}

#intro .project-info {
  width: 48%;
  align-items: flex-start;
  margin-left: 10%;
}

#intro .project-header {
  font-size: 138px;
  line-height: 118px;
  letter-spacing: -4px;
  margin-left: 14px;
}

#intro .project-header #capital-a {
  width: 94px;
  margin-left: 10px;
  margin-right: -20px;
}

#intro .project-header .vertical-part {
  margin: -8px -16px;
}

#intro .project-description {
  font-size: 20px;
  margin: 20px 0 8px;
}

#intro .mask {
  left: 48%;
}

#intro .project-header .vertical-part.translate {
  width: 80px; 
  margin-left: -18px; 
  height: 136px;
  -webkit-transform: translateY(18px);
  transform: translateY(18px);
}

.project-info {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-header {
  font-size: 98px;
  line-height: 98px;
  letter-spacing: -2px;
}

.project-header #capital-a {
  width: 68px;
  margin-right: -15px;
}

.project-description {
  font-family: 'gilroy-light';
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
}

.project-header .vertical-part {
  margin: 0 -11px;
}

.vertical-part { 
  overflow: hidden;
  display: inline-block;
}

.vertical-part b {
  display: inline-block;
  transform: translateY(100%);
}

.project-header .vertical-part b {
  transition: .5s;
}

.project-description .vertical-part b {
  transition: .21s;
}

.project.active .vertical-part b {
  transform: translateY(0);
}

.cta {
  margin-top: 20px;
  opacity: 0;
  transform: translateY(100%);
  transition: .3s ease-out 0.4s, opacity .5s linear 0.4s;
}

.project.active .cta {
  opacity: 1;
  transform: translateY(0);
}

.btn-reveal {
  position: relative;
  font-family: 'gilroy-light';
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 16px 44px;
  background: transparent;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 50px;
  overflow: hidden;
  transition: .2s;
  z-index: 1;
  cursor: pointer;
}

.btn-reveal::after {
  content: '';
  background: var(--color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transform: scale3d(0, 1, 1);
  transform-origin: left center;
}

.btn-reveal:hover { color: #fff; }
.btn-reveal:hover::after { transform: scale3d(1, 1, 1); }

.mask {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 44%;
  cursor: default;
}

.mask-above {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  mix-blend-mode: lighten;
  background: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 3;
}

.mask-header{
  position: absolute;
  left: 0;
  color: var(--color);
  font-size: 500px;
  line-height: 380px;
  text-transform: uppercase;
  letter-spacing: -4px;
  opacity: 0;
}

.project.active .mask-header {
  opacity: 1;
}

.mask-item.indent-left {
  margin-left: 4%;
  margin-right: -122px;
}

.mask-item {
  display: inline-block;
  margin-right: -134px;
  opacity: 0;
  transform: translateX(120%);
  transition: all 1s cubic-bezier(0.5, 0, 0.1, 1);
}

.project.active .mask-item {
  opacity: 1;
  transform: translateX(0);
}

.mask-below {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.mask-below::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background: var(--color);
  z-index: 1;
  transition: opacity .6s;
}

.mask-below.active::before {
  opacity: 0;
}

video {
  height: 110%;
  margin-top: -5%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}