<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="" type="">
    <title>Riley Adair — Developer</title>
    <meta name="description" content="Portfolio of Riley Adair, an interactive developer based in Dallas, TX.">
    <meta name="keywords" content="">
    <meta name="author" content="Riley Adair">
    <meta name="copyright" content="© Copyright 2019 - Riley Adair"/>
    <meta name="location" content="Dallas, TX">
    <meta property="og:title" content="Riley Adair"/>
    <meta property="og:description" content="Portfolio of Riley Adair, an interactive developer based in Dallas, TX."/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content="https://rileyadair.com"/>
    <meta property="og:site_name" content="Riley Adair — Developer"/>
  </head>
  <body>
    <h1>Personal site</h1>
  </body>
</html>
