<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="" type="">
    <title>Riley Adair &#8212; Developer</title>
    <meta name="description" content="Portfolio of Riley Adair, an interactive developer based in Dallas, TX.">
    <meta name="keywords" content="">
    <meta name="author" content="Riley Adair">
    <meta name="copyright" content="© Copyright 2019 &#8212; Riley Adair"/>
    <meta name="location" content="Dallas, TX">
    <meta property="og:title" content="Riley Adair"/>
    <meta property="og:description" content="Portfolio of Riley Adair, an interactive developer based in Dallas, TX."/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content="https://rileyadair.com"/>
    <meta property="og:site_name" content="Riley Adair &#8212; Developer"/>
  </head>
  <body>
    <main class="main">
      <!-- <p class="text">
        Hi, my name is Riley<span class="padding"></span>Adair.<br/> 
        I am a <span class="stroke">developer</span> with a passion for interaction design.
        I enjoy building thoughtful and refined digital <span class="stroke">experiences</span>.
        <br/>
        <br/>
        <br/>
        Currently, I develop <br/>sites and <span class="stroke">web</span> apps for brands like 7UP at The Richards Group, and I&#8217;m always working on side projects to level up my <span class="stroke">code</span>.
        <br/>
        <br/>
        <br/>
        Let&#8217;s get in touch, <br/>for collaborative projects <br/>or even simply say hello, <br/>just drop me a <span class="stroke">line</span>.
      </p> -->
      <p class="text">
        Hi there, I&#8217;m Riley<span class="padding"></span>Adair<br/> 
        &#8212; <span class="stroke">developer</span> with a passion for interaction design.
        I enjoy building thoughtful and refined digital <span class="stroke">experiences</span>.
        <br/>
        <br/>
        <br/>
        Currently, I develop <br/>sites and <span class="stroke">web</span> apps for brands like 7UP at The Richards Group. I also grind on side projects to level up my <span class="stroke">code</span>.
        <br/>
        <br/>
        <br/>
        Let&#8217;s get in touch, <br/>for collaborative projects <br/>or even simply say hello, <br/>just drop me a <span class="stroke">line</span>.
      </p>
    </main>
  </body>
</html>
