* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

body {
  background: #0E0E0E;
  font-family: 'Fira Mono', monospace;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

body, a {
  color: whitesmoke;
}

div {
  position: absolute;
  width: 100%;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h3 {
  font-size: 30px;
}

h4 {
  margin: 4px 0 30px;
}

span {
  font-size: 24px;
}

ul {
  position: absolute;
  bottom: 12px;
  left: 20px;
  list-style: none;
  text-align: center;
}

li {
  font-size: 22px;
  padding: 6px 0;
}

@media (min-width: 768px) {
  ul {
    bottom: 26px;
    left: 40px;
  }
}