.scrollbar {
  position: fixed;
  width: 4px;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  &__progress {
    @include full-absolute;
    background-color: $color-charcoal;
    transform: translate3d(0%, -100%, 0);
  }
}
