.text {
  font-size: 9.3vw;
  letter-spacing: -.03em;
  line-height: 1.2;
  padding-bottom: 32.4vw;
  pointer-events: none;
  opacity: 0;

  @media (min-width: $screen-sm-min) {
    font-size: 6.23889vw;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -.055em;
    padding-bottom: 22.4vw;
    max-width: 86.88889%;

    br {
      display: none;
    }
  }

  @media (min-width: $screen-lg-min) {
    padding-bottom: 20.8vw;
  }

  &:last-child { padding-bottom: 0; }

  &.is-shown {
    opacity: 1;

    .link__title {
      @media (min-width: $screen-sm-min) {
        color: transparent;
        mix-blend-mode: exclusion;
        -webkit-text-stroke: 1px white;
        text-decoration: none;
      }
    }

    .hover-img {
      @media (min-width: $screen-sm-min) {
        display: block;
      }
    }
  }
}
